@model AddressListViewModel

<div class="container">
    <h4>Your delivery addresses</h4>
</div>

<div class="container mt-4 mb-4">
    <a class="btn btn-primary" href="/Address/Create">Add Delivery Address</a>    
</div>

<div class="container">
    <div class="row">
    @foreach (var item in Model.Addresses)
    {
        <div class="col-sm-4 mt-2 mb-2">
            <div class="card">
                <h6 class="card-title text-sm-left">@item.Name</h6>
                <address>
                    @item.Street <br />
                    @item.City, @item.Region, @item.PostCode <br />
                    @item.Country
                </address>
                <div class="float-sm-left">
                    @Html.ActionLink("Update", "Update", "Address", new { id = item.AddressId })
                    &nbsp; | &nbsp;
                    @Html.ActionLink("Delete", "Remove", "Address", new { id = item.AddressId })
                </div>
            </div>
        </div>
    }
</div>
</div>